/* Map CSS */
.source-serif-4-variable {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

/* Maps */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/* Sidebar */

#sidebar {
  /* Position */
  top: 1.25em;
  left: 1.25em;
  width: min(500px, 90dvw);
  position: absolute;
  z-index: 2;
  color: #ffffff;
  /* Blur */
  background-color: #00000080;
  /* opacity: 0.5; */
  border-radius: 1.5em;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  justify-content: space-between;
  /* Padding */
}

#sidebar h1 {
  font-size: 2em;
  font-weight: 900;
  font-style: italic;
  /* margin-bottom: 0px; */
  text-align: left;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0px;
  margin-left: 2em;
  margin-right: 0em;
  padding-right: 0em;
}

.sidebar-logo {
  width: 3em;
  height: 3em;
  padding-bottom: 0px;
}

#search {
  --outer-radius: 1.5em;
  width: 100%;
  height: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em 1em; /* top/bottom, left/right */
  border: none;
  border-radius: calc(var(--outer-radius) - 0.75em);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1.7em;
  outline: none;
  box-sizing: border-box;
}

#search::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#search:focus {
  background-color: rgba(255, 255, 255, 0.15);
}

/* Search Mobile */
@media (max-width: 800px) {
  #sidebar {
    position: fixed;
    top: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    max-width: none;
    min-height: 20em;
  }
  
  

}

/* Attribution */
.maplibregl-ctrl-attrib.maplibregl-ctrl {
  color: #ffffffbd;
  font-weight: 600;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 3px;
  margin: 8px 8px;
  background-color: var(--system-black-a40);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.maplibregl-ctrl-attrib.maplibregl-ctrl a {
  color: #ffffffad;
}

/* Underline animation */
a:link,
a:before,
a:hover {
  text-decoration: none;
  color: #e7e7e7;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  text-decoration: none;
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: #e7e7e7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
